<html>

<title>
	用户信息查询
</title>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<table width=100% height=100%><tr><td><center><span style="font-size:80px;color:black;font-family:century">
<font size="80">用户信息:</font><br>
<textarea  style="overflow:scroll; overflow-x:hidden; " rows="30" cols="100">
姓名: xxx
手机号: xxx
需求金额: xxx
贷款周期: xxx
户籍: xxx
工作: xxx
信用状况: xxx
房产: xxx
房产类型: xxx
房产性质: xxx
房产状态: xxx
本人名下有无车产: xxx
牌照归属地: xxx
车辆购买价格: xxx
车龄: xxx
车辆有无贷款: xxx
</textarea>

</span></font></center></td></tr></table>

</body>

</html>